<h1>Assignment 1

In [1]:
10+15

25

In [2]:
print("Hello World")

Hello World

In [3]:
45-34

11

In [4]:
8*2

16

In [5]:
print("Rahul's age is", 45)

Rahul's age is 45

In [6]:
print("I have", 10, "mangoes and", 12, "bananas")

I have 10 mangoes and 12 bananas

In [7]:
emp_number = 1233
print("Employee Number:", emp_number)
emp_salary = 16745.50
emp_name = "Jerry Squaris"
print("Employee Salary and Name:", emp_salary, emp_name)
emp_salary = 23450.34
print("Updated Employee Salary:", emp_salary)

Employee Number: 1233
Employee Salary and Name: 16745.5 Jerry Squaris
Updated Employee Salary: 23450.34

In [8]:
customer_id = 101
print(type(customer_id))
customer_name = "John"
print(type(customer_name))
bill_amount = 675.45
print(type(bill_amount ))
x = 5.3 + 0.9j
print(type(x))
print(customer_id, customer_name, bill_amount)
print(x.real)
print(x.imag + 3)
Flag = True
print(type(Flag))
y = "False"

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>
101 John 675.45
5.3
3.9
<class 'bool'>

In [9]:
bill_id = 101
customer_id = 1001
customer_name = "Rahul"
f_minor = False
bill_amount = 2000.50
print("Bill Id.= ",bill_id)
print("Customer Id.= ",customer_id)
print("Customer Name= ",customer_name)
print("F_minor= ",f_minor)
print("Bill Amount= ",(bill_amount))

Bill Id.=  101
Customer Id.=  1001
Customer Name=  Rahul
F_minor=  False
Bill Amount=  2000.5

In [10]:
x = input("Type 1st number: ")
y = input("Type 2nd number: ")

x = int(x) + 4
y = int(y) + 6

sum = x + y
print("Sum of numbers is: ", sum)

Type 1st number: 4
Type 2nd number: 5
Sum of numbers is:  19

In [11]:
a=4
b=5
print("Before swapping",a,b)
a,b = b,a
print("After swapping",a,b)

Before swapping 4 5
After swapping 5 4

In [12]:
x=int(input("Enter marks of 1st subject:"))
y=int(input("Enter marks of 2nd subject:"))
z=int(input("Enter marks of 3rd subject:"))
avg = (x+y+z)/3
print("Average marks: ",avg)
x=x+10
print("New Average marks: ",(x+y+z)/3)

Enter marks of 1st subject:10
Enter marks of 2nd subject:20
Enter marks of 3rd subject:30
Average marks:  20.0
New Average marks:  23.333333333333332

In [13]:
radius = 7
area = 3.14*radius*radius
perimeter = 2*3.14*radius
print("area of circle is", area)
print("Perimeter of circle is", perimeter)

area of circle is 153.86
Perimeter of circle is 43.96

In [14]:
no_of_hours=40
pay_rate=400
no_of_weeks=4
monthly_pay=no_of_hours*pay_rate*no_of_weeks
print("Monthly pay of employee is:", monthly_pay)

Monthly pay of employee is: 64000

In [15]:
#To display even number between 50 and 80
for x in range(50,81):
    if x%2==0:
        print(x)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80

In [16]:
# Add natural numbers up to n where n is taken as an input from user. Print the sum.
n = int(input("Enter the number "))
sum = 0
for x in range(1,n+1):
    sum = sum + x
print(sum)

Enter the number 5
15

In [17]:
# check wheather a  number is prime or not
num=int(input("Enter the number "))
check=True
for i in range(2,num):
    if num%i==0:
        print(num,"is not a prime number")
        check= False
        break
if(check==True):
    print(num,"is a prime number")

Enter the number 87
87 is not a prime number

In [18]:
#Print Fibonacci series till nth term where n is taken as an input from user
num=int(input("Enter the number of terms"))
x=0
y=1
print(x)
print(y)
for i in range(1,num-1):
    z=x+y
    print(z)
    x=y
    y=z

Enter the number of terms7
0
1
1
2
3
5
8